::-webkit-input-placeholder {
    color: var(--main-gray)
}

.category-info-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.category-content {
    width: 50%;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

h1 {
    margin-bottom: 2rem;
}

.search-section {
    width: 100%;
    background: white;
    border: 1px solid var(--main-gray-border);
    height: 10rem;
}

.pag-section {
    width: 100%;

}

.sort-icon {
    width: 12px;
    height: 12px;
}

table {
    color: #63738C;
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
}

.tr-title {
    font-size: 1rem;
    height: 2rem;
    width: 100%;
    background: white;
    border: 1px solid var(--main-gray-border);
}

.cl-1 {
    width: 10%;
}

.cl-2 {
    width: 90%;
}

.cl-3 {
    width: 10%;
}

.item-info {
    margin-right: 3rem;
    color: #63738C;
}

.pointer {
    cursor: pointer;
}