.detail-component {
    width: 90%;
    margin-top: 3rem;
}

.product-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.product-info {
    width: 50%;
    background: white;
    border: 1px solid var(--main-gray-border);
    height: 100%;
}

.product-pairs {
    width: 45%;
}