.detail-component {
    width: 90%;
    margin-top: 3rem;
}

.product-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.product-info {
    width: 50%;
    height: 100%;
}

.product-pairs {
    width: 45%;
}