.orders {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10rem auto 5rem auto;
}

@media only screen and (max-width: 1600px) {
    .orders {
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {
    .orders {
        width: 100%;
    }
}