.user {
    position: absolute;
    top: 110%;
    right: -100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;

    background: var(--bg-color);
    box-shadow: var(--box-shadow);

    padding: 20px;
    border-radius: 0.5rem;
}

.user h2 {
    font-size: 1.2rem;
    color: var(--text-color);
}

.user .login-btn {
    background: var(--main-color);
    color: var(--bg-color);

    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.user .login-btn:hover {
    background: var(--text-color);
}

.user input {
    border: none;
    border-radius: 0.5rem;

    outline: none;

    background: var(--second-color);
    padding: 10px;
    width: 100%;
}

.user p {
    font-size: 0.938rem;
}

.user a {
    text-decoration: underline;
    color: var(--main-color);
}

.user.active {
    right: 1rem;
    transition: 0.2s;
}