input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.shoe-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.form-background {
    background: white;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem 3rem 3rem;
}

.form>input {
    height: 3rem;
    border: 1px solid var(--main-gray-border);
    border-radius: 8px;
}

.form>h2 {}

.title-label {
    margin-top: 2rem;

}

.input-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.group-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 46%;
    font-size: 1rem;
}

.combine {
    display: flex;
    align-items: center;
    width: 100%;
}

.input {
    width: inherit;
    height: 3rem;
    font-size: 1rem;
    border: 1px solid var(--main-gray-border);
    border-radius: 8px;
    padding: 1rem;
    margin-left: 1rem;
}

.select-menu {
    padding: 0 !important;
    padding-left: 0.5rem !important;
}

.price {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

#dollar {
    font-size: 1.5rem;
    margin-left: 0.3rem;
}

.description {
    resize: none;
    height: 10rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: black;
    border: 1px solid var(--main-gray-border);
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.deleted {
    scale: 2;
    border: 1px solid var(--main-gray-border) !important;
    margin-left: 1rem
}