.new-arrival {
    margin-top: 2rem;
}

.new-arrival .box {
    position: relative;
    overflow: hidden;
    background: var(--second-color);
}

.new-arrival .box img {
    background: var(--second-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-arrival .box .content {
    position: absolute;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(0, 0%, 91%, 0.5);
    overflow: hidden;
}

.new-arrival .box:hover .content {
    top: 0;
    transition: 0.2s;
}