.new {
    position: flex;
}

.new-arrival {
    margin-top: 2rem;
}

.new-arrival .box {
    position: relative;
    overflow: hidden;
}

.new-arrival .box img {
    width: 100%;
    height: 100%;
}

.new-arrival .box .content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
}

.new-arrival .box:hover .content {
    top: 0;
    transition: 0.2s;
}