.home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    min-height: 100vh;
    background: var(--second-color);
}

.home-text span {
    font-weight: 600;
    text-transform: uppercase;
}

.home-text h1 {
    font-size: 3.4rem;
    margin-bottom: 1rem;
}

.home-title-2 {
    position: relative;
    overflow: hidden;
    color: black;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 4s steps(44) 4s 1 normal both,
        blinkTextCursor 500ms infinite,
        removeTextCursor 9s infinite 9s;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 420px;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: hsl(0, 0%, 80%);
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes removeTextCursor {
    from {
        border-right: inherit;
    }

    to {
        border-right: none;
    }
}


@media only screen and (max-width: 1058px) {
    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 375px;
        }
    }
}

@media only screen and (max-width: 991px) {
    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 300px;
        }
    }
}

@media only screen and (max-width: 360px) {
    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 215px;
        }
    }
}