::-webkit-input-placeholder {
    color: var(--main-gray)
}

.content {
    width: 90%;
    margin-top: 5rem;
}

.title {
    margin-bottom: 3rem;
}

.table-content {
    width: 100%;
    border: 1px solid var(--main-gray-border)
}

.search-pag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: white;
    border: 1px solid var(--main-gray-border);
}

.search {
    display: flex;
    height: 50px;
    margin-left: 2rem;
}

.search>input {
    width: 350px;
    font-size: 1.5rem;
    border: 1px solid var(--main-gray-border);
    border-radius: 7px 0 0 7px;
    padding-left: 1.75rem;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #3B50DF;
    border-radius: 0 7px 7px 0;
}

.search-btn>img {
    width: 30px;
    height: 30px;
}

.search-btn>img {
    color: white;
}


.table>table {
    width: 100%;
    color: #63738C;
    border-collapse: collapse;
}

.tr-title {
    height: 40px;
    background-color: white;
    border: 1px solid var(--main-gray-border);
}

tr {
    width: 100%;
    background-color: white;
    border: 1px solid var(--main-gray-border);
}

tr>th {
    text-align: left;
    padding-left: 2rem;
}

tr>td {
    text-align: left;
    padding-left: 2rem;
}

.sort-icon {
    width: 12px;
    height: 12px;
}

.link {
    cursor: pointer;
}

.pagination {
    margin-left: 1rem;
}

.pag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    border: 1px solid var(--main-gray-border);
    background-color: white;
}

.per-page {
    display: flex;
    margin-right: 2rem;
}

.per-page>p {
    font-weight: bold;
    color: #63738C;
    margin-right: 1rem;

}

.per-page>select {
    color: #63738C;
    scale: 1.3;
    border: none;
}

.item-info {
    color: #63738C;
    margin-right: 3rem;
}

.cl-1 {
    width: 5%;

}

.cl-2 {
    width: 10%;
}

.cl-3 {
    width: 70%;

}

.cl-4 {
    width: 5%;
}

.cl-5 {
    width: 2%;
}