.login-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-dark);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 40%;
    background-color: var(--main-gray);
    border-radius: 5px;
    margin: auto;
}

.logo>h1 {
    color: #cb2469;
    margin: 1rem 0rem 0.5rem 0rem;
}

.login-text {
    width: 80%;
    text-align: left;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
}

.login {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.login>input {
    height: 2rem;
    border: 1px solid var(--main-gray);
    border-radius: 5px;
    margin-bottom: 0.8rem;
    padding-left: 1rem;
}

.login-btn {
    width: 80%;
    height: 2rem;
    font-size: 1rem;
    background-color: transparent;
    color: var(--main-green);
    border: 1px solid var(--main-green);
    border-radius: 5px;
    margin-top: 1rem;
}

.login-btn:hover {
    background-color: var(--main-green);
    color: var(--main-gray);
    border: 1px solid transparent;
}

.horizontal-shake {
    animation: horizontal-shaking 0.35s ease-in-out;
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}