.pagination-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    background: white;
    border: 1px solid var(--main-gray-border);
    margin-bottom: 5rem;
}

.pagination-list>li {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: inline;
    user-select: none;
    text-decoration: none;
    float: left;
    color: black;
    border-radius: 4px;
    padding: 8px 16px;
}

.pagination-list>li:not(.non-hover) {
    cursor: pointer;
}

.pagination-list>li:hover:not(.active):not(.non-hover) {
    background-color: var(--main-gray-border);
}

.active {
    background-color: var(--main-blue)
}

.pagImg {
    width: 13px;
    height: 13px;
}

.item-info {
    color: #63738C;
    margin-right: 3rem;
}