.pagination-list {}

.pagination-list>li {
    display: inline;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}

.pagination-list>li:not(.non-hover) {
    cursor: pointer;

}

.pagination-list>li:hover:not(.active):not(.non-hover) {
    background-color: var(--main-gray-border);
}

/* .non-hover {
    cursor: default;
} */

.active {
    background-color: var(--main-blue)
}

.pagImg {
    width: 13px;
    height: 13px;
}