.page-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {
    width: 70%;
    margin-top: 5rem;
}

.tr-title {
    width: 100%;
    height: 2rem;
    background: white;
    border: 1px solid var(--main-gray-border);
}

.product-table {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #63738C;
    border-collapse: collapse;
}

.sort-icon {
    width: 12px;
    height: 12px;
}

.cl-1 {
    width: 10%;
}

.cl-2 {
    width: 20%;
}

.cl-3 {
    width: 40%;
}

.cl-4 {
    width: 20%;
}

.cl-5 {
    width: 10%;
}