.popup-container {
    position: fixed;
    top: 100px;
    right: 20px;
    color: #fff;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    transition: opacity .5s ease-in-out;
}

.popup-container.show {
    visibility: visible;
    opacity: 1;
}

.popup-container.hide {
    visibility: visible;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.color-green {
    background-color: rgba(76, 175, 80, 0.5);
}

.color-red {
    background-color: rgba(210, 17, 17, 0.678);

}

.popup-text {
    font-size: 18px;
}