.popup-container {
  position: fixed;
  visibility: hidden;
  z-index: 100000;
  top: 80px;
  right: 20px;
  opacity: 0;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  transition: opacity .5s ease-in-out;
}

.popup-container.show {
  opacity: 1;
  visibility: visible;
}

.popup-container.hide {
  opacity: 0;
  visibility: visible;
  transition: opacity 0.4s ease-in-out;
}

.color-green {
  background-color: rgba(76, 175, 80, 0.5);
}

.color-red {
  background-color: rgba(210, 17, 17, 0.678);
}

.popup-text {
  font-size: 18px;
}