/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkout-data {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 8rem auto;
}

.form {
    width: 45%;
    display: flex;
    flex-direction: column;


}

.title {
    font-size: 1.25rem;
    margin-left: 0;
    margin-top: 3rem;
}

.summary {
    width: 40%;
}

.top-summary {
    display: none;
}

.deliver-btn {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 12px;
    border-style: solid;
    width: 100%;
    min-height: 82px;
    font-weight: 500;
    color: #111;
    border-color: #111;
    border-width: 2px;
    padding: 19px;
    margin-bottom: 2rem;
    margin-top: 2rem;

}

.deliver-btn>img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 2rem;
}

.login-btn {
    font-size: 1rem;
    line-height: 1.75rem;
    border-radius: 30px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: .031rem;
    color: #111;
    background-color: #fff;
    border: 1px solid #cccccc;
    margin-left: 11px;
    padding: 7px 26px;
    margin-top: 8px;
    cursor: pointer;
    display: block;
}

.name-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}



.name-form>input, .city-input>input, .contact-info>input {
    height: 3rem;
    margin-top: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding-left: 1rem;
}

.incorrect {
    border-color: red !important;
    color: red !important;

}

.incorrect::placeholder {
    color: red !important;
}



.city-input {
    display: flex;
    justify-content: space-between;
}

.city-input>input {
    width: 48%;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.terms {
    display: flex;
    margin-top: 2rem;
    position: relative;
}

.terms>input {
    position: relative;
    top: -0.5rem;
    margin-top: 0;
    scale: 1.50;
    accent-color: black;
}

.terms>p {
    font-size: 0.70rem;
    margin-left: 1rem;
    color: gray
}

.terms>p>span>a {
    text-decoration: underline;
}

.purchase-btn {
    margin: 30px auto;
    text-align: center;
    width: 40%;
    cursor: pointer;
}

.delivery-date>p {
    font-weight: bold;
}

.terms .incorrect {

    color: red !important;
}

.horizontal-shake {
    animation: horizontal-shaking 0.35s ease-in-out;
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}

@media only screen and (max-width: 1240px) {
    .checkout-data {
        width: 85%;
    }
}

@media only screen and (max-width: 900px) {
    .checkout-data {
        flex-direction: column;
        width: 80%;
        margin: 2rem auto 4rem auto;

    }

    .form {
        margin-top: 3rem;
        width: 100%;
    }

    .purchase-btn {
        z-index: 1;
        width: 100%;
        position: fixed;
        bottom: 0px;
        left: 0px;
        clip-path: none;
        margin: auto;
    }

    .summary {
        width: 100%;
    }

    .top-summary {
        display: block;
    }

    .bottom-summary {
        display: none;
    }

    .item-btn {
        margin-top: 1rem;
        width: 100%;
        height: 3rem;
        text-align: left;
        padding-left: 1rem;
        font-size: 1rem;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: white;
    }

    .item-btn:after {
        content: '\02795';
        /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: white;
        float: right;
        margin-right: 10px;
        margin: auto 10px auto 10px;
    }

    .active-button:after {
        content: "\2796";
        /* Unicode character for "minus" sign (-) */
    }

    .shoes-list {
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease;
    }

    .toggle-list {
        height: 100%;
    }
}