:root {
  --main-dark: #1C2434;
  --main-gray: #DEE4EE;
  --main-dark-gray: #333A48;
  --main-blue: #2F55D2;
  --main-green: #13c297;
  --main-gray-border: #E1E8F0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Open Sans', sans-serif;
  background-color: #F1F5F9;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

#root {
  min-height: 100vh;
}

.app {
  display: flex;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}