.order {
    overflow: hidden;
    width: 100%;
    max-height: 50px;
    transition: max-height 0.5s ease-in-out;
}

.order-info {
    display: grid;
    align-items: center;
    height: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.sign:after {
    content: '\02795';
    float: right;
    font-size: 13px;
    color: white;
    margin: auto 10px auto 10px;
}

.signChange:after {
    content: "\2796";
}

.expandedCard {
    max-height: 1000px;
}

.divider-big {
    width: 100%;
    border: 1px solid gray;
    margin-left: 0;
}

.total-price-order {
    justify-content: right;
    align-items: right;
    text-align: right;
    margin-bottom: 1rem;
}

.order-status {
    display: flex;
    align-items: center;
}

.pending {
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 15px;
    margin-right: 1rem;
}

.rejected {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 15px;
    margin-right: 1rem;
}

.shipped {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 15px;
    margin-right: 1rem;
}

.low-resolution-order {
    display: none;
}

.high-resolution-order {
    display: block;
}

@media only screen and (max-width: 400px) {
    .low-resolution-order {
        display: block;
    }

    .high-resolution-order {
        display: none;
    }
}