.order {
    width: 100%;
    max-height: 50px;
    /* border: 1px solid red; */
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.order-info {
    height: 50px;
    align-items: center;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.sign:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-right: 10px;
    margin: auto 10px auto 10px;
}

.signChange:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.expandedCard {
    max-height: 1000px;
}

.shoe-image {
    display: block;
    width: 60px;
    height: 60px;
}

.divider {
    width: 100%;
    margin-left: 0;
    /* height: 1px; */
    border: 1px solid gray;
}

.small-divider {
    width: 100%;
    justify-content: center;
    border: 1px solid rgba(239, 239, 240, 1);
    margin-bottom: 0.5rem;
}

.item-color {
    text-align: center;
}

.item-size {
    text-align: center;
}

.item-price {
    text-align: right;
}

.order-item {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr 1fr;
    /* justify-content: space-around; */
    text-align: left;
    margin-bottom: 0.5rem;
    align-items: center;
}

.total-price {
    justify-content: right;
    margin-bottom: 1rem;
}