.main-shoes-recommended {
    margin: 40px 0;
}

.main-recommended-title {
    margin: 20px 0;
}

.main-recommended-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}

.main-recommended-item {
    width: 186px;
}

.main-recommended-item h4 {
    font-size: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-recommended-item h5 {
    font-weight: 1.2rem;
    margin: 0;
}

.main-recommended-item button {
    font-size: 1rem;
    clip-path: unset;
    width: 100%;
}