.reviews-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.reviews-container .box {
    padding: 10px;
    border: 2px solid var(--text-color);
    border-radius: 0.5rem;
    text-align: center;
    /* justify-content: space-between; */
    box-shadow: var(--box-shadow);
}

.reviews-container .box img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.reviews-container .box p {
    font-size: 0.938rem;
    font-style: italic;
    margin: 0.5rem 0.5rem;
}

.reviews-container .box h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.reviews-container .box:hover {
    background: var(--text-color);
    color: var(--main-color);
}