.divider-co {
    border: 1px solid #e5e5e5;
    margin: 1rem 0rem;
}

.total-price {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.delivery {
    display: flex;
    justify-content: space-between;
}

.total {
    display: flex;
    justify-content: space-between;
}