.logo {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    column-gap: 0.2rem;
    color: var(--text-color);
}

.logo .bx {
    font-size: 24px;
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 2.4rem;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar>li:nth-child(3) {
    display: flex;
    align-items: center;
}

.bx.bx-chevron-down {
    font-size: 1.4rem;
}

.header-icons {
    font-size: 22px;
    cursor: pointer;
    z-index: 100000;
}

#menu-icon {
    display: none;
}

.search-box {
    position: absolute;
    top: 110%;
    right: -100%;
}

.search-box input {
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    width: 280px;
    box-shadow: var(--box-shadow);
}

.search-box.active {
    right: 1rem;
    transition: 0.2s;
}

.cart {
    position: absolute;
    top: 110%;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

.cart img {
    width: 100px;
}

.cart .box {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.cart .box .text h3 {
    font-size: 1rem;
}

.cart .box .bx {
    font-size: 24px;
}

.cart .box .bx:hover {
    color: var(--main-color);
}

.cart h2 {
    font-size: 1.1rem;
    font-weight: 600;
}

.cart.active {
    right: 1rem;
    transition: 0.2s;
}


@media (max-width:768px) {
    header {
        padding: 12px 4%;
    }

    #menu-icon {
        display: initial;
    }

    header .navbar {
        position: absolute;
        width: 240px;
        height: 100vh;
        top: 100%;
        right: -100%;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
        transition: 0.2s linear;
        text-align: left;
    }

    .navbar.active {
        right: 0;
    }

    .home-text h1 {
        font-size: 2rem;
    }
}