.btn {
    display: inline-block;
    text-transform: uppercase;
    clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
    color: var(--bg-color);
    font-weight: 500;
    background-color: var(--main-color);
    padding: 0.7rem 1.2rem;
}

.btn:hover {
    letter-spacing: 2px;
    background: var(--text-color);
    transition: 0.2s;
}

.home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    align-items: center;
    width: 100%;
    min-height: 100vh;
    gap: 1.5rem;
    background: var(--second-color);
}

.home-text span {
    text-transform: uppercase;
    font-weight: 600;
}

.home-text h1 {
    font-size: 3.4rem;
    margin-bottom: 1rem;
}

.heading {
    text-align: center;
}

.heading h1 {
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--text-color);
}

.heading span {
    display: inline-block;
    text-transform: uppercase;
    clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
    font-weight: 500;
    color: var(--bg-color);
    background-color: var(--main-color);
    padding: 0.2rem 1.2rem;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.product-container .box {
    position: relative;
    padding: 10px;
    box-shadow: var(--box-shadow);
}

.product-container .box .content h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.product-container .box .bx-cart-alt {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--bg-color);
    font-size: 15px;
    background: var(--main-color);
    padding: 10px;
}

.product-container .box .bx-cart-alt:hover {
    background: var(--text-color);
}

.product-container .box:hover img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transition: 0.5s;
}

.reviews-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.reviews-container .box {
    text-align: center;
    border: 2px solid var(--text-color);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    padding: 10px;
}

.reviews-container .box img {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.reviews-container .box p {
    font-style: italic;
    font-size: 0.938rem;
    margin: 0.5rem 0.5rem;
}

.reviews-container .box h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.reviews-container .box:hover {
    color: var(--main-color);
    background: var(--text-color);
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1rem;
    color: var(--text-color);
}

.footer-box h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-box p {
    font-size: 0.938rem;
    margin-bottom: 10px;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social a .bx {
    font-size: 24px;
    color: var(--text-color);
    background: var(--second-color);
    border-radius: 0.5rem;
    padding: 10px;
}

.social a .bx:hover {
    color: var(--bg-color);
    background: var(--main-color);
}

.footer-box h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-box li a {
    color: var(--text-color);
}

.footer-box li a:hover {
    color: var(--main-color);
}

.copyright {
    text-align: center;
    padding: 20px;
    color: var(--text-color);
}

.catalog {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 3rem;
    margin-top: 1rem;
}

.catalog-menu {
    display: grid;
    justify-content: center;
    border: 3px solid gray;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.catalog-menu:hover {
    background-color: rgb(236, 236, 236);
    border: 3px solid var(--main-color);
    transition: 0.8s;
}

.catalog-menu .catalog-search {
    width: 280px;
}

.catalog-menu .catalog-search input {
    outline: none;
    border: none;
    width: 280px;
    height: 40px;
    border-radius: 0.5rem;
    background-color: rgb(214, 214, 214);
}

.catalog-menu .catalog-search input::placeholder {
    padding: 35%;
}

.catalog-menu:hover .catalog-search input {
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    transition: 0.8s;
}

.catalog-menu .catalog-options {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.catalog-menu .catalog-options ul {
    display: grid;
    grid-row-gap: 20px;
}

.catalog-menu .catalog-options ul li {
    display: grid;
    justify-items: center;
}

.catalog-menu .catalog-options ul a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
}

.catalog-menu:hover .catalog-options ul a {
    transition: 0.2s;
}

.catalog-menu .catalog-options ul a:hover {
    color: var(--main-color);
}

.catalog-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 345px));
}

.catalog-items-container .box {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
}

.filter-divider {
    width: 100%;
    border: 0.3px solid rgba(0, 0, 0, 0.2);
}

.filter-input {
    scale: 1.2;
    margin-right: 5px;
    accent-color: var(--main-color);
}

.filter-label:hover {
    cursor: pointer;
    opacity: 0.5;
}

.load-more-div {
    display: flex;
    justify-content: center;
}

.load-more-button {
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    clip-path: polygon(14px 0%, 100% 0%, calc(100% - 14px) 100%, 0% 100%);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    background-color: var(--main-color);
    padding: 10px 30px;
    transition: all ease-in-out 0.25s;
}

.sort-section {
    display: none;
    position: absolute;
    justify-content: left;
    z-index: 1;
    width: 9rem;
    height: 9rem;
    right: 0px;
    padding: auto;
}

.sort-section ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid var(--main-color);
    border-radius: 10px;
}

.sort-section ul li:hover {
    opacity: 0.5;
}

.catalog-sort {
    position: relative;
    margin-top: 5rem;
}

.catalog-sort-title {
    text-align: center;
    color: var(--main-color);
}

.catalog-sort-div {
    position: absolute;
    margin-top: 2rem;
    right: 200px;
    z-index: 1;
}

.catalog-sort-div:hover .sort-section {
    background-color: white;
    border-radius: 1rem;
    display: block;
}

#catalog-sort-div-bottom {
    display: none;
}

.clear-filter-button {
    cursor: pointer;
    text-transform: uppercase;
    clip-path: polygon(14px 0%, 100% 0%, calc(100% - 14px) 100%, 0% 100%);
    color: #fff;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: bold;
    border: none;
    background-color: var(--main-color);
    padding: 10px 30px;
    transition: all ease-in-out 0.25s;
}

.clear-filter-button:hover {
    transform: scaleX(1.1);
}

.catalog-items-container .content .priceB {
    display: flex;
    justify-content: space-between;
}

.catalog-items-container .content .bx-info-circle {
    font-size: 14px;
    color: var(--bg-color);
    background: var(--main-color);
    padding: 10px;
}

.catalog-items-container .content .bx-cart-alt {
    color: var(--bg-color);
    font-size: 14px;
    background: var(--main-color);
    padding: 10px;
}

.catalog-items-container .content .bx-cart-alt:hover {
    background: var(--text-color);
}

.catalog-items-container .content .bx-info-circle:hover {
    background: var(--text-color);
}

.catalog-options .sizes {
    display: none;
    justify-content: center;
}

.catalog-options .sizes a {
    padding-left: 15px;
}

.catalog-options li:hover .sizes {
    display: inline;
    color: var(--main-color);
}

@media (max-width: 1058px) {
    header {
        padding: 18px 60px;
    }

    section {
        padding: 50px 60px;
    }

    .home-text h1 {
        font-size: 3rem;
    }
}

@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }

    section {
        padding: 50px 4%;
    }

    .home-text h1 {
        font-size: 2.4rem;
    }
}

@media (max-width: 768px) {
    header {
        padding: 12px 4%;
    }

    #menu-icon {
        display: initial;
    }

    #catalog-sort-div-bottom {
        display: block;
    }

    #catalog-sort-div-top {
        display: none;
    }

    header .navbar {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-align: left;
        row-gap: 1.4rem;
        width: 240px;
        height: 100vh;
        top: 100%;
        right: -100%;
        background: var(--bg-color);
        box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
        padding: 20px;
        transition: 0.2s linear;
    }

    .navbar.active {
        right: 0;
    }

    .home-text h1 {
        font-size: 2rem;
    }

    .catalog {
        justify-content: center;
        align-items: center;
    }

    .catalog-sort-div {
        text-align: right;
        position: relative;
        margin-top: 0rem;
        right: 0px;
        z-index: 1;
    }
}

@media (max-width: 360px) {
    .home-text span {
        font-size: 0.8rem;
    }

    .home-text h1 {
        font-size: 1.7rem;
    }

    .cart img {
        width: 77px;
    }

    .heading h1 {
        font-size: 1.4rem;
    }
}