.nav {
    display: block;
    width: 250px;
    min-height: 100% !important;
    background-color: beige;
    background-color: #1C2434;
    padding: 2rem;
}

.logo {
    text-align: center;
    cursor: pointer;
    font-size: 1.6rem;
    color: white;
    margin: 1rem 0rem 2rem 0rem;
}

.group-title {
    font-size: 1rem;
    color: #DEE4EE;
    margin: 1rem 0 1rem 0;
}